.testimonial-slider {
    text-align: center;
}
.testimonial-slider .swiper {
    max-width: 660px;
}

.testimonial-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    color: #121212;
    font-style: italic;
    max-width: 630px;
    margin: 0 auto;
    position: relative;
}

.swiper-testimonial-slider {
    padding-top: 120px !important;
    padding-bottom: 120px !important;
}

.testimonial-text::before {
    content: "";
    background-image: url("/images/quote.png");
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    left: calc(50% - 23px);
    top: -100px;
}

.testimonial-client {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.3;
    color: #121212;
    padding-top: 50px;
    padding-bottom: 10px;
}

.testimonial-client-role {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
}

.testimonial-slider-btn .left,
.testimonial-slider-btn .right {
    position: absolute;
}

.testimonial-slider-btn .left {
    right: calc(50% + 10px);
}
.testimonial-slider-btn .right {
    left: calc(50% + 10px);
}

.testimonial-slider-btn .left:hover,
.testimonial-slider-btn .right:hover {
    background-color: #121212;
    color: white;
}
